.panel-heading {
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}

.panel-heading h4 {
  font-weight: bold;
}

/* adapted from https://stackoverflow.com/a/18568997 */
.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
}

.panel-heading h4 i {
  margin-right: 10px;
}

.panel-heading h4 i[class*="pull-right"] {
  float: right;
  margin-right: 0px;
  margin-left: 10px;
}

.panel-heading a.collapsed:after {
    content: "\e080";
}

.panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: none;
}

